################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/siteRoupa/appsettings.json
